<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2VDwAmwKwgVEiGaC11qhxgbI7FIRDEs4</string>
	<key>GCM_SENDER_ID</key>
	<string>973886845768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.responsivedashboard</string>
	<key>PROJECT_ID</key>
	<string>taxcompdb</string>
	<key>STORAGE_BUCKET</key>
	<string>taxcompdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973886845768:ios:078eb9887459535b0ff97d</string>
	<key>DATABASE_URL</key>
	<string>https://taxcompdb-default-rtdb.firebaseio.com</string>
</dict>
</plist>